@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet');

/* Navbar */
body {
    font-family: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
}
body {
    background-color: #eafafd
}
.bg-img {
    background-color: #eafafd;
}
h1 {
    color: grey;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 6rem;
    margin: 0;
    padding-bottom: 1.5%;
    padding-top: 1.5%;
}

/* Navbar links */
.topnav a {
    color: grey;
    text-align: center;
    padding: 7px 8px;
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    font-size: 2.5rem;
}
.topnav a:hover {
    background-color: #a2c4c9;
    color: #fafafa;
}

/* Social Media */
footer {
    height: 10rem;
    background: #eafafd;
    text-align: center;
}
.contact-us {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
}
.social-media li {
    text-align: right;
    display: inline;
}
.social-media i {
    font-size: 2rem;
    margin-top: 4rem;
    margin-left: 6%;
    margin-right: auto;
    color: #d5a6bd
}
h2 {
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    font-size: 4rem;
    padding-left: 2rem;
    position: center;
    margin: 1rem 0;
}
h3 {
    font-style: bold;
    font-size: 3rem;
}
p {
    margin: 1rem 0;
    padding-left: 2rem;
}
.thumbnail {
    background-color: #eafafd;
}

/* Media Queries */
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .topnav a {
        text-align: center;
        padding: 10px 13px;
        font-size: 3rem;
    }
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .topnav a {
        font-size: 5rem;
    }
}
