@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet');
*
{
    background-color: #eafafd;

}

/* Navbar */

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.bg-img {
  background-image: url("../images/cake.png");

  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
  background-attachment: fixed;
  
  position: relative;

  animation-name: img-zoom;
  animation-duration: 3s;
  animation-fill-mode: forwards;


}
@keyframes img-zoom {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(1.07)
    }
}
h1 {
    color: grey;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 6rem;
}

/* Position the navbar container inside the image */
.container-nav {
  position: absolute;
  margin: 20px;
  width: auto;
  background-color: #eafafd;
}

/* The navbar */
.topnav {
  overflow: hidden;
}

/* Navbar links */
.topnav a {
  float: left;
  color: grey;
  text-align: center;
  padding: 7px 8px;
  font-family: 'Dancing Script', cursive;
  text-decoration: none;
  font-size: 2.5rem;
}

.topnav a:hover {
  background-color: #a2c4c9;
  color: #fafafa;
}

/* About Text */
.about {
    padding: 10%;
}
#search {
    margin: 2% 0;
}
/* Button */
button {
    box-sizing: border-box;
    border-radius: 4px;
    background-color: rgba(51, 148, 172, 0.85);
    text-align: center;
    padding: 1em .75em;
    text-decoration: none;
	font-size: 1em;
    
}
/*Carousel*/
.carousel-control {
    background-color: transparent;
}
.container {
    background-color: none;
}

/* Social Media */
footer {
    height: 10rem;
    background: #eafafd;
}
.contact-us {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
}
.social-media li {
    text-align: center;
    display: inline;
}
.social-media i {
    font-size: 2rem;
    margin-top: 4rem;
    margin-left: 6%;
    margin-right: auto;
    color:#d5a6bd
}

/*Recipes*/
.recipes-intro {
    font-family: 'Dancing Script', cursive;
    font-weight: 300;
    font-size: 3rem;
    padding: 10%;
}
h2 {
  font-family: 'Dancing Script', cursive;
  font-weight: 400;
  font-size: 4rem; 
  padding-left: 10%;
  position: center; 
}
h3 {
    font-style: bold;
    font-size: 3rem;
}
/*Testimonials*/
.thumbnail {
    background-color: #eafafd;
    padding-bottom: 0;
}
/*Map API*/
#map {
    height: 400px; 
    width: 100%;  
    }
 /* Media Queries */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
.topnav a {
  text-align: center;
  padding: 10px 13px;
  font-size: 1rem;
}
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
.bg-img {
    min-height: 650px;
    background-position: center;

 }
 .topnav a {
     font-size: 3.5rem;
 }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

}